{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center">Provide translateion for the following word</h2>
    <div id="threeParent">

        <div class="cardChild">            
                <div class="guessingEngFirstItem">{{ word.1 }} </div>        
                <div class="whatPart">({{ word.2 }}) </div>        
    
                {{ wordPron|safe }}
    
                <ul class="guessingCenterItem">
                    <table>
                    {% for definition in meaning %}
                    <tr>
                    <td><li><font size="+2"> {{ definition }} </font> </li></td>
                    </tr>
                    {% endfor  %}
                    </ul>
                    </table>            
        </div>

        
        <div class="cardChild">
            <div id="cardImage">{{ wordImage|safe }}</div>
        </div>        


        <div class="cardChild">            
                <div class="guessingTranslateFirstItem">Tłumaczenie: </div>
                
                <form method="POST" class="guessingCenterItem"> {% csrf_token %}
                    <input id="userInput" type="text", name="odgadywane" autofocus> <br>                                       
                    <input type="submit" class="guessingLastItem" value="Next">
            </form>
                
        </div>

    </div>

{% endblock %}